<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <p><img src="{{site.logo | relative_url}}" alt="Logo" /></p>
        {% endif %}

        <p class="left-align">{{ site.description | default: site.github.project_tagline }}</p>
<p>
    This site acts as supplementary material to our work on Directivity-Conditioned Low-Latency Neural Filtering for Speech Enhancement in Hearing Aids. We
    present a low-latency solution for neural directional filters for a hearing-device microphone setup that achieves comparable results to a baseline without low-latency 
    constraints.
</p>


<h2 style="margin-top:0; font-family: Arial, sans-serif;">Synthetic dataset</h2>
  <p>
    We create a synthetic dataset to enable training neural directional filtering approaches on a hearing device microphone array setup. 
    The dataset consists of five-speaker mixtures in a reveberant room, which are spatialized using the Hearing Aid Related Transfer Functions from
    <span class="reference" data-ref="hartf_data"></span>. One individual head and one kemar head is used to evaluate the models.
    The reverberation time varies between 0.2-0.5s.
  </p>
        <!-- <p class="view"><a href="" target="_blank">Link to the research paper</a></p>-->

        <!--<p class="view"><a href="https://sp-uhh.github.io/website_template/#citation">Bibtex citation</a></p>-->

        <!-- {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %} -->

        <!-- {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %} -->

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>